table th td{
    border: 1px solid black;
}

.center {
    text-align: center;
    position: relative;
    top: 15px;
}
.input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
.blog-header {
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-size: 2.25rem;
}

.header-right{
    float: right;
    display: flex;
}

.margin-left{
    margin-left: 3px;
}

.myform {
    vertical-align: middle;
    align-items: center;
    width: 40%;
    margin: auto;
}

.mytable {
    margin: auto;
    width: 90%;
}

.headercenter {
    position: fixed;
    left: 50%;
}

.greencheck {
    color: #32CD32;
}

.address {
    width: 400px;
}

.mybutton {
    margin-bottom: 60px;
    margin-top: 10px;
}

.mymap {
    width: 80%;
    height: 600px;
    margin: 65px;
    vertical-align: middle;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}