<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" language="JavaScript" src="javascript/homepage.js"></script>
    <link rel="stylesheet" media="all" type="text/css" href="css/general.css" th:href="@{css/general.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCYf-bigRT20CHeW79bBbnBjtp0RPeTfes&libraries=geometry,places,visualization&callback=initAutocomplete" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <meta charset="UTF-8">
    <title>COVID-19 Tracking System</title>
</head>
<body>
<div class="container-fluid">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div id="exit" style="display: none" class="col-4 pt-1 text-left">
                <a class="text-muted" href="/">Back</a>
            </div>
            <div class="text-center">
                <a class="blog-header-logo text-dark">Covid-19 Tracking System</a>
            </div>
            <div id="loginsection" class="col-4 header-right justify-content-end align-items-center">
                <button class="btn btn-sm btn-outline-secondary" id="showform">Register</button>
                <button class="btn btn-sm btn-outline-secondary margin-left" id="loginbutton">Log in</button>
            </div>
            <div id="userinfosection" style="display: none" class="header-right col-4 justify-content-end align-items-center">
                <span id="useremail"></span>
                <button class="btn btn-sm btn-outline-secondary" id="adminpage" style="display: none">Admin Page</button>
                <button class="btn btn-sm btn-outline-secondary margin-left" id="changepasswordbutton" >Change password</button>
                <button class="btn btn-sm btn-outline-secondary margin-left" id="logoutbutton">Log out</button>
            </div>
        </div>
    </header>
    <br>
    <div id="welcomesection">
        <button id="createpatient" class="mybutton">Create patient</button>
        <button id="showevents" class="mybutton">Show events</button>
    </div>
    <div id="patientinfo" style="display: none">
        <table class="table table-striped" id="eventtable" style="width: 80%">
            <thead>
            <tr>
                <th>Event name</th>
                <th>Date</th>
                <th>Address</th>
                <th>Longitude</th>
                <th>Latitude</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="center">
            <button class="mybutton" id="addevent">Add Event</button>
            <button class="mybutton" id="submitpatient">Submit Information</button>
        </div>
    </div>

    <div class="center" id="eventsection" style="display: none">
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="verifycheck">
            <label>Only show verified user</label>
        </div>
        <table class="table table-striped" id="eventlist" style="width: 80%">
            <thead>
            <tr>
                <th>Event name</th>
                <th>Date</th>
                <th>Address</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Number of Cases</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>
        <div class="center">
            <button id="lastpagebutton" class="center mybutton" style="display: none">Last page</button>
            <button id="nextpagebutton" class="center mybutton" style="display: none">Next page</button>
        </div>
        <div class="mymap">
            <div id="googlemap" style="width: 100%; height: 100%"></div>
        </div>
    </div>

    <div id="formsection" style="display: none">
        <form id="applicationform" class="needs-validation myform">
            <div>
                <label for="formemail">Email <span class="text-muted">(Required)</span></label>
                <input type="email" class="form-control" id="formemail" placeholder="you@example.com" required>
            </div>
            <br>
            <div>
                <label for="formdescription">Description <span class="text-muted">(Required)</span></label>
                <textarea type="text" class="form-control" maxlength="250" id="formdescription" placeholder="Describe your information here and we will contact you by email." required></textarea>
            </div>
            <button class="btn btn-lg btn-primary" style="margin-top: 10px" type="submit">Submit</button>
        </form>
    </div>
</div>
</body>
</html>