<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" language="JavaScript"src="javascript/profilepage.js"></script>
    <link rel="stylesheet", href="css/general.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Profile Page</title>
</head>
<body class="container">
<header class="blog-header py-3">
    <div class="row flex-nowrap align-items-center">
        <div id="exit" class="col-1 pt-1 text-left">
            <a class="text-muted" href="/">Back</a>
        </div>
        <div class="text-center">
            <a class="blog-header-logo text-dark">Covid-19-Tracking-System</a>
        </div>
    </div>
</header>
    <div>
        <h4>Upload your file.</h4>
        <br>
        <div>
            <input type="file" id="userinputfile" class="file-input" required>
            <button id="fileuploadbutton" class="primary">Submit</button>
        </div>
    </div>
        <br><br>
    <div>
        <h4>Your Uploaded file</h4>
        <div id="useruploadedfile"></div>
    </div>
    <div class="row" id="userfile">

    </div>
</body>
</html>